<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./mercari.css"/>
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Rakus Items</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./list.html" th:href="@{/items}">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="logout" href="./login.html" th:href="@{/logout}">Logout <i class="fa fa-power-off"></i></a></li>
        </ul>
        <p class="navbar-text navbar-right">
		  <span id="loginName" th:text="'user: '+${session.loginUser.email}">userName</span>
        </p>
      </div>
    </div>
  </nav>

  <div id="main" class="container-fluid">
    <!-- addItem link -->
    <div id="addItemButton">
      <a class="btn btn-default" href="./add.html" th:href="@{/add}"><i class="fa fa-plus-square-o"></i> Add New Item</a>
    </div>

    <!-- 検索フォーム -->
    <div id="forms">
      <form action="" class="form-inline" role="form" th:action="@{/items}" th:object="${searchForm}" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="item name"/>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <select class="form-control" name="parentCategoryId">
            <option value="">- parentCategory -</option>
            <option th:field="*{parentCategoryId}" th:each="parentCategory:${session.parentCategoryList}" th:text="${parentCategory.name}" th:value="${parentCategory.id}">parentCategory1</option>
          </select>
          <select class="form-control" name="childCategoryId">
            <option value="">- childCategory -</option>
            <option th:field="*{childCategoryId}" th:each="childCategory:${session.childCategoryList}" th:text="${childCategory.name}" th:value="${childCategory.id}" th:data-val="${childCategory.parent}">parentCategory1</option>
          </select>
          <select class="form-control" name="grandChildCategoryId">
            <option value="">- grandChild -</option>
            <option th:field="*{grandChildCategoryId}" th:each="grandChildCategory:${session.grandChildCategoryList}" th:text="${grandChildCategory.name}" th:value="${grandChildCategory.id}" th:data-val="${grandChildCategory.parent}">parentCategory1</option>
          </select>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <input type="text" class="form-control" name="brand"  th:field="*{brand}" placeholder="brand"/>
        </div>
        <div class="form-group"></div>
        <button type="submit" class="btn btn-default"><i class="fa fa-angle-double-right"></i> search</button>
      </form>
    </div>

    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li th:unless="${session.page==1}" class="previous"><a href="#" th:href="@{'/items?page=' + ${session.page-1} + '&name='+ ${session.searchValue.name} + '&parentCategoryId='+ ${session.searchValue.parentCategoryId} + '&childCategoryId='+ ${session.searchValue.childCategoryId}+ '&grandChildCategoryId='+ ${session.searchValue.grandChildCategoryId}+ '&brand='+ ${session.searchValue.brand} }" >&larr; prev</a></li>
          <li th:unless="${session.page==session.totalPages}" class="next"><a href="#" th:href="@{'/items?page=' + ${session.page+1} + '&name='+ ${session.searchValue.name} + '&parentCategoryId='+ ${session.searchValue.parentCategoryId} + '&childCategoryId='+ ${session.searchValue.childCategoryId}+ '&grandChildCategoryId='+ ${session.searchValue.grandChildCategoryId}+ '&brand='+ ${session.searchValue.brand}  }">next &rarr;</a></li>
        </ul>
      </nav>
    </div>

	 <h3 class="text-danger" th:if="${completionOfAddition}" th:text="${completionOfAddition}"></h3>

    <!-- table -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>brand</th>
            <th>cond</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item:${items}">
            <td class="item-name"><a href="./detail.html" th:href="@{'/detail?itemId=' + ${item.id}}" th:text="${item.name}">Razer BlackWidow Chroma Keyboard</a></td>
            <td class="item-price" th:text="${item.price}">52.0</td>
            <td class="item-category">
            	<a href="" th:href="@{'/items?parentCategoryId=' + ${item.parentCategoryId}}" th:text="${item.parentCategory}">Electronics</a> / 
            	<a href="" th:href="@{'/items?parentCategoryId=' + ${item.parentCategoryId} +'&childCategoryId=' + ${item.childCategoryId}}" th:text="${item.childCategory}">Computers &amp; Tablets</a> / 
            	<a href="" th:href="@{'/items?parentCategoryId=' + ${item.parentCategoryId} +'&childCategoryId=' + ${item.childCategoryId} +'&grandChildCategoryId=' + ${item.grandChildCategoryId}}" th:text="${item.grandChildCategory}">Components &amp; Parts</a>
            </td>
            <td class="item-brand"><a href="" th:href="@{'/items?brand=' + ${item.brand}}" th:text="${item.brand}">Razer</a></td>
            <td class="item-condition" th:text="${item.condition}">3</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- pagination -->
    <div class="pages">
      <nav class="page-nav">
        <ul class="pager">
          <li th:unless="${session.page==1}" class="previous"><a href="#" th:href="@{'/items?page=' + ${session.page-1} + '&name='+ ${session.searchValue.name} + '&parentCategoryId='+ ${session.searchValue.parentCategoryId} + '&childCategoryId='+ ${session.searchValue.childCategoryId}+ '&grandChildCategoryId='+ ${session.searchValue.grandChildCategoryId}+ '&brand='+ ${session.searchValue.brand} }" >&larr; prev</a></li>
          <li th:unless="${session.page==session.totalPages}" class="next"><a href="#" th:href="@{'/items?page=' + ${session.page+1} + '&name='+ ${session.searchValue.name} + '&parentCategoryId='+ ${session.searchValue.parentCategoryId} + '&childCategoryId='+ ${session.searchValue.childCategoryId}+ '&grandChildCategoryId='+ ${session.searchValue.grandChildCategoryId}+ '&brand='+ ${session.searchValue.brand}  }">next &rarr;</a></li>
        </ul>
      </nav>
      <!-- ページ番号を指定して表示するフォーム -->
      <div id="select-page">
        <form class="form-inline" th:action="@{/items}" method="post">
          <div class="form-group">
            <div class="input-group col-xs-6">
              <label></label>
              <input type="text" class="form-control" name="page" th:value="${session.page}">
              <!-- 総ページ数 -->
              <div class="input-group-addon" th:text="'/ ' + ${session.totalPages}">/ 20</div>
            </div>
            <div class="input-group col-xs-1">
              <button type="submit" class="btn btn-default">Go</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
 <script th:src="@{/js/category_list.js}" src="../static/js/category_list.js"></script>
</body>
</html>