<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- css -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./mercari.css"/>
  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Rakus Items</title>
  <style type="text/css">
  .btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid gray;
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 1px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}
  .btn-submit {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid brown;
  font-size: 12px;
  color: brown;
  text-decoration: none;
  font-weight: bold;
  padding: 1px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-submit:hover {
  background-color: pink;
  border-color: #red;
  color: #FFF;
}
  </style>
 <script>
 $(function() {
		$("input[id$='email']").hide();
		$("select[id$='authority']").hide();
		$("button[id$='submit']").hide();
		$("button[id$='submit']").prop("desabled", true);
		$("button[id$=cancel]").hide();
		$("button[id$='delete']").prop("desabled", true);
		
		if($("span[id='emailError']").length || $("span[id='authorityError']").length){
			var userId =[[${errorUserId}]]
			$("button[id=" +userId+"edit]").hide();
			$("button[id=" +userId+"delete]").hide();
			$("span[class="+userId+"email]").hide();
			$("span[class="+userId+"authority]").hide();
			$("button[id=" +userId+"cancel]").show();
			$("input[id="+userId+"email]").show();
			$("select[id="+userId+"authority]").show();
			$("button[id=" +userId+"submit]").show();
		}
 });
 </script>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./list.html" th:href="@{/items}">Rakus Items</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="logout" href="./admin.html" th:href="@{/admin}">Admin&nbsp;&#x2699;</a></li>
          <li><a id="logout" href="./login.html" th:href="@{/logout}">Logout <i class="fa fa-power-off"></i></a></li>
        </ul>
        <p class="navbar-text navbar-right">
		  <span id="loginName" th:text="'user: '+${session.loginUser.email}">userName</span>
        </p>
      </div>
    </div>
  </nav>

  <div id="main" class="container-fluid">
    <!-- addItem link -->
    <div>
      <a class="btn btn-default" href="./add.html" th:href="@{/add}"><i class="fa fa-plus-square-o"></i> Add New User</a>
    </div>

    <!-- 検索フォーム -->
    <div id="forms">
      <form action="" class="form-inline" role="form" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="email"/>
        </div>
        <div class="form-group"><i class="fa fa-plus"></i></div>
        <div class="form-group">
          <select name="authority" class="form-control">
            <option value="">- Authority -</option>
            <option>admin</option>
            <option>user</option>
          </select>
        </div>
        <div class="form-group"></div>
        <button type="submit" class="btn btn-default"><i class="fa fa-angle-double-right"></i> search</button>
      </form>
    </div>
	<br><br>
	 <h3 class="text-danger" th:if="${editingCompleted}" th:text="${editingCompleted}"></h3>

    <!-- table -->
    <div class="table-responsive">
      <table id="item-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>id</th>
            <th>email</th>
            <th>authority</th>
            <th>edit</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user:${userList}">
            <td th:text="${user.id}">1</td>
            <td>
             	<span th:text="${user.email}" th:class="${user.id}+'email'">xxxx@xxxx.com</span>
             	<input type="text" th:field="${editUserForm.email}" th:id="${user.id}+'email'"  class="form-control">
             	<div th:if="${errorUserId}==${user.id}">
             		<span style="color: red" th:errors="${editUserForm.email}" id="emailError" th:value="${errorUserId}">Error</span>
             	</div>
             </td>
             <td>
             	<span th:if="${user.authority}==1" th:text="admin" th:class="${user.id}+'authority'">admin</span>
             	<span th:if="${user.authority}!=1" th:text="user" th:class="${user.id}+'authority'"></span>
             	<select th:id="${user.id}+'authority'" class="form-control">
             		<option value="1" th:field="${editUserForm.authority}">admin</option>
             		<option value="2" th:field="${editUserForm.authority}">user</option>
             	</select>
             	<div th:if="${errorUserId}==${user.id}">
             		<span style="color: red" th:errors="${editUserForm.authority}" id="authorityError" th:value="${errorUserId}">Error</span>
             	</div>
             </td>
            <td>
            	<button type="button" th:id="${user.id}+'edit'" th:value="${user.id}" class="btn-border">edit</button>
	          	<form th:action="@{/user/edit}" method="post">
	            	<input type="hidden" th:value="${user.id}" name="id">
	            	<input type="hidden" name="email" th:id="${user.id}+'submitEmail'">
	            	<input type="hidden" name="authority" th:id="${user.id}+'submitAuthority'">
        	    	<button th:id="${user.id}+'submit'" th:value="${user.id}" class="btn-submit"
        	    	 onclick="return confirm(' Is the input content correct? ' )">submit</button>
    	      	</form>
            	<button type="button" th:id="${user.id}+'cancel'" th:value="${user.id}" class="btn-border">cancel</button>
            </td>
            <td>
            	<form method="post">
    	        	<button class="btn-border" th:id="${user.id}+'delete'">delete</button>
            	</form>
            </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
 <script th:src="@{/js/user_list.js}" src="../static/js/user_list.js"></script>
</body>
</html>